.about-us {
  padding-block: 120px;
  text-align: center;

  @include on-tablet {
    padding-block: 148px;
  }

  &__content {
    @include grid-layout;

    row-gap: 24px;

    @include on-tablet {
      row-gap: 16px;
    }
  }

  &__title {
    grid-column: 1 / -1;

    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    color: $c-section-title;

    @include on-small-desktop {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 3 / -3;
    }
  }

  &__text {
    grid-column: 1 / -1;

    font-family: $font-family-secondary;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: $c-section-text;

    @include on-tablet {
      font-size: 24px;
      line-height: 36px;
    }

    @include on-small-desktop {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 3 / -3;
    }
  }
}
