.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 14px;
  padding-bottom: 13px;
  border: none;
  border-radius: 8px;

  font-family: $font-family-main;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  color: $c-text-light;
  text-decoration: none;

  background-color: $c-blue;

  @include hover(background-color, $c-dark-blue);
  @include hover(scale, 1.2);
}
