.card-service {
  box-sizing: border-box;
  padding: 32px;
  border-radius: 16px;
  background-color: $c-white;

  @include hover(box-shadow, 0 0 30px $c-sub-title);
  @include hover(scale, 1.05);

  &__number {
    position: relative;

    width: fit-content;
    margin-bottom: 24px;
    padding: 2px 12px;

    font-size: 13px;
    font-weight: 600;
    color: $c-blue;

    &::after {
      content: '';

      position: absolute;
      inset: 0;

      border-radius: 23px;

      opacity: 10%;
      background-color: $c-blue;
    }
  }

  &__list {
    margin-bottom: 32px;

    font-family: $font-family-secondary;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    color: $c-section-text;
  }

  &__link {
    display: flex;
    column-gap: 16px;
    align-items: center;

    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    color: $c-dark-grey;
    text-decoration: none;

    &::before {
      content: '';

      box-sizing: border-box;
      width: 40px;
      height: 40px;
      border-radius: 50%;

      background-color: $c-blue;
      background-image: url('../images/icons/arrow-card-serv.svg');
      background-repeat: no-repeat;
      background-position: center;

      transition: all $transition-duration;
    }

    &:hover::before {
      border: 1px solid $c-blue;
      background-color: $c-white;
      background-image: url('../images/icons/arrow-card-serv--hover.svg');
    }
  }
}
