.expertise {
  padding-block: 72px;
  background-color: $c-white;

  @include on-tablet {
    padding-block: 128px;
  }

  &__content {
    text-align: center;
  }

  &__title {
    margin-bottom: 56px;

    font-size: 44px;
    font-weight: 600;
    line-height: 52.8px;
    color: $c-section-title;

    @include on-tablet {
      margin-bottom: 64px;
      font-size: 52px;
      line-height: 78px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 56px;
    align-items: center;

    @include on-tablet {
      row-gap: 72px;
    }

    @include on-small-desktop {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 264px;

    @include on-tablet {
      width: 64.6%;
    }

    @include on-small-desktop {
      width: 23.3%;
    }

    @include on-desktop {
      width: 23%;
    }
  }

  &__card-img {
    width: 166px;
    height: 166px;
    margin-bottom: 32px;
    border-radius: 16px;

    @include hover(box-shadow, 0 0 30px $c-sub-title);
    @include hover(scale, 1.2);
  }

  &__card-title {
    margin-bottom: 16px;

    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: $c-section-title;
  }

  &__card-text {
    font-family: $font-family-secondary;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $c-section-text;
  }
}
