.form {
  // доробити
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  @include on-tablet {
    row-gap: 48px;
  }

  &__field {
    resize: none;

    overflow-y: auto;

    box-sizing: border-box;
    width: 100%;
    height: 41px;
    padding: 0 0 16px;
    border: none;
    border-bottom: 1px solid $c-white;

    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    color: inherit;

    background-color: inherit;
    outline: none;

    @include hover(border-bottom, 2px solid $c-blue);

    &::placeholder {
      font-family: inherit;
      font-size: 15px;
      font-weight: 600;
      line-height: 22.5px;
      color: inherit;

      opacity: 0.7;
    }

    &:focus {
      border-bottom: 1px solid $c-blue;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover {
      border: inherit;
      border-bottom: 1px solid $c-white;

      background-color: inherit;

      transition: background-color 5000s ease-in-out 0s;

      -webkit-text-fill-color: $c-white;
    }

    &:-webkit-autofill:focus {
      border-bottom: 1px solid $c-blue;
    }
  }

  &__button {
    margin-top: 16px;

    @include on-tablet {
      max-width: 73%;
      margin-top: 32px;
    }

    @include on-small-desktop {
      max-width: 71.4%;
    }

    @include on-desktop {
      max-width: 57.4%;
    }
  }
}
