.header {
  position: relative;

  height: 893px;
  border-radius: 0 0 40px 40px;

  color: $c-text-light;

  background-color: $c-bg-header;

  @include on-small-desktop {
    height: 800px;
  }

  &__content {
    margin-top: 48px;

    @include grid-layout;

    @include on-tablet {
      margin-top: 56px;
    }

    @include on-small-desktop {
      margin-top: 164px;
    }
  }

  &__title {
    grid-column: 1 / -1;

    font-size: 52px;
    font-weight: 600;
    line-height: 62.4px;
    letter-spacing: -2px;

    @include on-tablet {
      font-size: 64px;
      line-height: 68px;
    }

    @include on-small-desktop {
      grid-column: 1 / 5;
      line-height: 68px;
    }
  }

  &__description {
    grid-column: 1 /-1;

    margin-top: 32px;

    font-family: $font-family-secondary;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;

    @include on-tablet {
      grid-column: 1 / 5;
      margin-top: 24px;
    }

    @include on-small-desktop {
      grid-column: 1 / 6;
      margin-top: 32px;
    }

    @include on-desktop {
      grid-column: 1 / 5;
    }
  }

  &__button {
    grid-column: 1 / -1;
    margin-top: 72px;

    @include on-tablet {
      grid-column: 1 / 4;
      margin-top: 56px;
    }

    @include on-small-desktop {
      grid-column: 1 / 5;
      margin-top: 83px;
    }

    @include on-desktop {
      grid-column: 1 / 4;
    }
  }

  &__slider {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    @include on-small-desktop {
      bottom: 0;
      left: 50%;
      margin-top: 83px;
    }
  }
}
