.menu {
  height: 100vh;
  color: $c-text-light;
  background-color: $c-bg-header;

  &__nav {
    margin-top: 48px;

    @include grid-layout;

    @include on-tablet {
      margin-top: 56px;
    }

    @include on-small-desktop {
      margin-top: 164px;
    }
  }
}
