.nav {
  &__list {
    display: flex;
    flex-direction: row;
    column-gap: 48px;

    &--aside {
      flex-direction: column;
      row-gap: 24px;
    }

    &--footer {
      flex-direction: column;
      row-gap: 24px;

      @include on-tablet {
        flex-direction: row;
        column-gap: 40px;
      }
    }
  }

  &__item {
    width: max-content;

    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    text-transform: uppercase;
    letter-spacing: 3px;

    @include hover(scale, 1.2);
  }

  &__link {
    position: relative;
    color: inherit;
    text-decoration: none;

    &::after {
      content: '';

      position: absolute;
      bottom: -8px;
      transform-origin: left;
      transform: scale(0);

      display: block;

      width: 100%;
      height: 2px;
      border-radius: 4px;

      background-color: $c-blue;

      transition-duration: $transition-duration;
    }

    &:hover::after {
      transform-origin: left;
      transform: scale(100%);
    }
  }
}
