.page {
  scroll-behavior: smooth;
  font-family: $font-family-main;

  &__body {
    min-width: 320px;
    margin: 0;
    background: $c-gray;
  }

  &__menu {
    pointer-events: none;

    position: fixed;
    z-index: 3;
    inset: 0;
    transform: translateX(-100%);

    opacity: 0;

    transition: all 300ms;
  }

  &:has(.page__menu:target) .page__menu {
    pointer-events: all;
    transform: translateX(0);
    opacity: 1;
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}
