.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 21px;

  font-weight: 400;

  @include on-small-desktop {
    padding-top: 49px;
  }

  &__left-side {
    display: flex;
    column-gap: 32px;
    align-items: center;
  }

  &__nav {
    display: none;

    @include on-small-desktop {
      display: block;
    }
  }

  &__hire-us {
    position: relative;

    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;

    @include hover(scale, 1.2);

    &::after {
      content: '';

      position: absolute;
      bottom: -8px;

      display: block;

      width: 100%;
      height: 2px;
      border-radius: 4px;

      background-color: $c-blue;
    }
  }
}
