.vision {
  padding-block: 72px;
  background-color: $c-white;

  @include on-tablet {
    padding-block: 200px;
    background-image: url('../images/Shapes.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;

    font-size: 44px;
    font-weight: 600;
    line-height: 52.8px;
    color: $c-section-title;

    @include on-tablet {
      font-size: 52px;
      line-height: 62.4px;
    }

    @include on-small-desktop {
      max-width: 83%;
      line-height: 78px;
    }

    @include on-desktop {
      max-width: 60%;
    }
  }

  &__text {
    margin-bottom: 56px;

    font-family: $font-family-secondary;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: $c-section-text;

    @include on-tablet {
      margin-bottom: 64px;
      font-size: 24px;
      line-height: 36px;
    }

    @include on-small-desktop {
      max-width: 83%;
    }

    @include on-desktop {
      max-width: 60%;
    }
  }

  &__button {
    width: 100%;

    @include on-tablet {
      width: 47.3%;
    }

    @include on-small-desktop {
      width: 28.9%;
    }

    @include on-desktop {
      width: 23.1%;
    }
  }
}
